# Project artifacts
**/dist/
**/node_modules/

# Coverage report
/coverage/
coverage.txt
report.json

# Random excess stuff
.DS_Store
.idea/
.vscode/
yarn-error.log
docs

# Cloudflare
.wrangler
wrangler.jsonc

# Ignored dotenv files
.env.*.local
.env.local

# E2E Tests
/e2e/test-results
*.tmp