# Project artifacts
**/dist/
**/node_modules/

# Coverage report
/coverage/
coverage.txt

# Random excess stuff
.DS_Store
.idea/
.vscode/
yarn-error.log
docs

# Cloudflare
.wrangler
wrangler.jsonc

# Public built assets
/public/*.js

# Ignored dotenv files
.env.*.local
.env.local